<%= search_form_for q, url: url do |f| %>
    <div class="m-3">
        <div class="mx-auto flex justify-center">
            <div class="join">
                <%= f.search_field :name_or_address_cont, class: 'input input-bordered join-item text-sm', placeholder: t('search_form.placeholder') %>
                <%= f.select :category_id_eq, options_from_collection_for_select(@categories, :id, :name, params.dig(:q, :category_id_eq)), { include_blank: t('search_form.facility_type') }, class: 'select select-bordered join-item text-xs' %>
                <div class="indicator">
                    <%= button_tag(type: 'submit', class: 'btn join-item rounded-r-full') do %>
                        <%= image_tag 'search_mark.svg', class: "h-4 w-4" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>