
<div id="spot-id-<%= spot.id %>">
    <div class="card my-4 shadow-md border">
        <div class="m-4">

            <%# 施設名、ブックマークリンク表示エリア %>
            <div class="mt-2">
                <ul class="flex justify-between w-full">
                    <%# 左寄せ %>
                    <div class="font-bold text-md text-primary">
                        <%# 施設名 %>
                        <%= link_to spot.name, spot_path(spot), class: "link" %>
                    </div>
                    <%# 右寄せ %>
                    <div class="flex-shrink-0 ml-4 mr-1"> <%# flex-shrink-0 でボタンが縮小されぬよう制御 %>
                        <% if logged_in? %>
                            <%# ブックマークボタン %>
                            <%= render 'spots/bookmark_buttons', { spot: spot } %>
                        <% else %>
                            <%# ログイン誘導ボタン %>
                            <%= image_tag 'to_bookmark.svg', class: "h-5 w-5", onclick: "document.getElementById('login_modal_bookmark').showModal(); document.getElementById('login-button-spot-bookmark').focus();", style: 'cursor: pointer;' %>
                        <% end %>
                    </div>
                </ul>
            </div>

            <%# バッジ表示エリア %>
            <div class="mb-4 mt-4">
                <div class="flex justify-start items-center">
                    <%# カテゴリ名 %>
                    <div class="text-xs font-bold badge badge-ghost">
                        <%= spot.category.name %>
                    </div>
                    <%# レーティング %>
                    <div class="mr-2"></div>
                    <% if spot.rating.present? %>
                        <div class="text-xs font-bold badge badge-ghost">
                            <%= image_tag 'rating_mark.svg', class: "h-3 w-3 mr-1" %>
                            <%= spot.rating %>
                        </div>
                    <% end %>
                    <%# いいね数 %>
                    <div class="mr-2"></div>
                    <div id="review_count" class="text-xs font-bold badge badge-ghost">
                        <%= image_tag 'review_mark.svg', class: "h-3 w-3 mr-1" %>
                        <%= spot.reviews.count %>
                    </div>
                </div>
            </div>

            <%# Spot住所 %>
            <div class="mb-2">
                <div class="flex justify-start">
                    <div class="mr-2">
                        <%= image_tag 'address.svg', class: "h-4 w-4" %>
                    </div>
                    <div class="text-sm">
                        <%= spot.address %>
                    </div>
                </div>
            </div>

            <%# Spot公式HP %>
            <div class="mb-2">
                <div class="flex justify-start">
                    <div class="mr-2">
                        <%= image_tag 'web_site.svg', class: "h-4 w-4" %>
                    </div>
                    <div class="text-sm">
                        <% if spot.web_site.present? %>
                            <%= link_to "公式HPリンク", "#{spot.web_site}", target: :_blank, rel: "noopener noreferrer", class: "link" %>
                        <% else %>
                            <%= t('spots.index.no_data') %>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%# ログイン誘導ボタンのダイアログ設定 %>
<dialog id="login_modal_bookmark" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">
            <%= t('login_modal.bookmark') %>
        </h3>
        <p class="py-4">
            <%= t('login_modal.description') %>
        </p>
        <div class="modal-action">
            <%# 戻るボタン %>
            <%= form_with url: '#', method: :dialog do %>
                <%= button_tag '✕', class: 'btn btn-sm btn-circle btn-ghost absolute right-2 top-2' %>
            <% end %>
            <%# ログインボタン %>
            <%= link_to t('login_modal.login'), login_path, class: 'btn skeleton rounded-md', id: 'login-button-spot-bookmark' %>
        </div>
    </div>
</dialog>