<% content_for(:title, @spot.name) %>

<div class="mt-4">
    <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
        <%# 戻るボタン %>
        <div class="dropdown dropdown-right">
            <div tabindex="0" role="button" class="btn btn-sm text-xs">
                <%= image_tag 'page_back_mark.svg', class: "h-3 w-3" %>
                <%= t('.back') %>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                <li>
                    <%= link_to spots_map_path, data: { turbo: false }, class: "text-xs" do %>
                        <%= image_tag 'location_search.svg', class: "h-3 w-3" %>
                        <%= t('.to_spot_search') %>
                    <% end %>
                </li>
                <li>
                    <%= link_to spots_path, class: "text-xs" do %>
                        <%= image_tag 'list_search.svg', class: "h-3 w-3" %>
                        <%= t('.to_index_search') %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="w-5/6 mx-auto max-w-md">
    <div class="mt-2">
        <div class="card">
            <div class="m-4">
                <%# Spot画像 %>
                <% if @spot.photo_reference.present? %>
                    <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{@spot.photo_reference}&key=#{ENV["GOOGLE_MAPS_API_KEY"]}", class: "rounded-xl" %>
                <% end %>
                <%# Spot名 %>
                <h1 class="font-bold text-xl mt-4">
                    <%= @spot.name %>
                </h1>
                <%# バッジ表示エリア %>
                <div class="mt-4">
                    <div class="flex justify-start items-center">
                        <%# カテゴリ名 %>
                        <div class="text-xs text-white font-bold badge badge-primary">
                            <%= @spot.category.name %>
                        </div>
                        <%# レーティング %>
                        <div class="mr-2"></div>
                        <% if @spot.rating.present? %>
                            <div class="text-xs text-white font-bold badge badge-primary">
                                <%= image_tag 'rating_mark.svg', class: "h-3 w-3 mr-1" %>
                                <%= @spot.rating %>
                            </div>
                        <% end %>
                        <%# いいね数 %>
                        <div class="mr-2"></div>
                        <div id="review_count-<%= @spot.id %>" class="text-xs text-white font-bold badge badge-primary">
                            <%= image_tag 'review_mark.svg', class: "h-3 w-3 mr-1" %>
                            <%= @spot.reviews.count %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mb-24">
    <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">

        <%# タブの出しわけ領域 %>
        <div role="tablist" class="tabs tabs-bordered grid grid-cols-2 w-full">
            <%# 施設詳細情報タブ %>
            <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="<%= t('.tab.facility_details') %>" />
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-b-lg p-2 shadow-xl">

                <%# Xシェア、ブックマークリンク表示エリア %>
                <div class="mt-3">
                    <div>
                        <ul class="flex justify-end w-full">
                            <%# 右寄せ %>
                            <div class="flex space-x-4 mr-2">
                                <%# Xシェアボタン %>
                                <li>
                                    <%= link_to '#' do %>
                                        <%= image_tag 'x_mark.svg', class: "h-4 w-4" %>
                                    <% end %>
                                </li>
                                <% if logged_in? %>
                                    <%# ブックマークボタン %>
                                    <li>
                                        <%= render 'spots/bookmark_buttons', { spot: @spot } %>
                                    </li>
                                <% end %>
                            </div>
                        </ul>
                    </div>
                </div>

                <%# 施設詳細情報表示エリア %>
                <div class="mt-4">
                    <div class="m-4">
                        <%# Spot郵便番号 %>
                        <div class="mb-2">
                            <div class="flex justify-start">
                                <div class="mr-2">
                                    <%= image_tag 'postal_code.svg', class: "h-4 w-4" %>
                                </div>
                                <div class="text-sm">
                                    <%= @spot.postal_code %>
                                </div>
                            </div>
                        </div>

                        <%# Spot住所 %>
                        <div class="mb-2">
                            <div class="flex justify-start">
                                <div class="mr-2">
                                    <%= image_tag 'address.svg', class: "h-4 w-4" %>
                                </div>
                                <div class="text-sm">
                                    <%= @spot.address %>
                                </div>
                            </div>
                        </div>

                        <%# Spot電話番号 %>
                        <div class="mb-2">
                            <div class="flex justify-start">
                                <div class="mr-2">
                                    <%= image_tag 'phone.svg', class: "h-4 w-4" %>
                                </div>
                                <div class="text-sm">
                                    <% if @spot.phone_number.present? %>
                                        <%= link_to @spot.phone_number, "tel:#{@spot.phone_number}", class: "link" %>
                                    <% else %>
                                        <p><%= t('.no_data') %></p>
                                    <% end %>
                                </div>
                            </div>
                        </div>

                        <%# Spot公式HP %>
                        <div class="mb-2">
                            <div class="flex justify-start">
                                <div class="mr-2">
                                    <%= image_tag 'web_site.svg', class: "h-4 w-4" %>
                                </div>
                                <div class="text-sm">
                                    <% if @spot.web_site.present? %>
                                        <%= link_to "公式HPリンク", "#{@spot.web_site}", target: :_blank, rel: "noopener noreferrer", class: "link" %>
                                    <% else %>
                                        <p><%= t('.no_data') %></p>
                                    <% end %>
                                </div>
                            </div>
                        </div>

                        <%# Spot営業時間 %>
                        <div class="card">
                            <div class="text-center text-sm">
                                <div class="p-2">
                                    <div class="border rounded-lg border-base-300">
                                        <div class="p-2">
                                            <p class="font-bold mb-2"><%= t('.opening_hours') %></p>
                                            <% if @spot.opening_hours.nil? %>
                                                <p><%= t('.no_data') %></p>
                                            <% else %>
                                                <%= simple_format(h(@spot.opening_hours)) %>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%# Google Map 表示エリア %>
                        <div class="mt-6">
                            <div id="map" class="relative rounded-xl" style="height: 400px;">
                                <%# マップ読み込み中のローディングリング %>
                                <div class="absolute inset-0 flex items-center justify-center">
                                    <span class="loading loading-ring loading-lg"></span>
                                </div>
                            </div>
                        </div>

                        <%# 「ここへ行く」で Google Map の経路情報へ %>
                        <div class="flex flex-col justify-center items-center">
                            <div class="mt-4">
                                <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{@spot.latitude},#{@spot.longitude}", target: :_blank, class: "btn btn-outline btn-primary" do %>
                                    <p><%= t('.to_spot') %></p>
                                <% end %>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <%# 口コミタブ %>
            <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="<%= t('.tab.reviews') %>" checked="checked"/> <%# checked="checked"でデフォルトの選択タブを設定 %>
            <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-b-lg p-2 shadow-xl relative">

                <%# 口コミ %>
                <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
                    <div class="mt-4 mb-20">
                        <% if @reviews.present? %>
                            <%= render @reviews %>
                            <%# ページネーション %>
                            <%= paginate @reviews %>
                        <% else %>
                            <%= t('.no_review_data') %>
                        <% end %>
                    </div>
                </div>

                <%# 口コミ投稿ボタン %>
                <div class="absolute border rounded-full bottom-5 right-5">
                    <div class="tooltip" data-tip="<%= t('.post_review') %>">
                        <%= link_to new_spot_review_path(@spot), class: "inline-flex items-center justify-center w-10 h-10 bg-blue-600 rounded-full hover:bg-blue-700 focus:ring-4" do %>
                            <svg class="w-4 h-4 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                            </svg>
                        <% end %>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<%# 地図表示のためのscriptタグ %>
<script>
    // ⭐️地図を初期化
    function initMap() {
        // 地図要素：HTMLの要素 id="map" を持つ div 要素を取得し、その中に地図を表示
        const mapElement = document.getElementById('map');

        // 地図のオプション
        const defaultMapOptions = {
            center: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
            zoom: 12
        };

        // ⭐️⭐️指定した要素・オプションで地図を表示するための設定（const displayMap は mapOptions のみを引数として持つ）
        const displayMap = (mapOptions) => {
            // Mapインスタンスを作成（地図要素：mapElement, 地図のオプション：mapOptions）
            const map = new google.maps.Map(mapElement, mapOptions);

            // ⭐️⭐️⭐️マーカーを追加（spotの情報からマーカーを追加する）

            // アイコンURLを格納する変数を定義
            let iconUrl;
            // spot.category.id に応じてアイコンのURLを切り替える
            switch (<%= @spot.category.id %>) {
                case 1:
                    iconUrl = "https://maps.google.com/mapfiles/ms/micons/red-dot.png";
                    break;
                case 2:
                    iconUrl = "https://maps.google.com/mapfiles/ms/micons/blue-dot.png";
                    break;
                default:
                    iconUrl = "https://maps.google.com/mapfiles/ms/micons/green-dot.png"; // デフォルトのアイコン
            }
            // Markerインスタンスを作成
            let marker = new google.maps.Marker({
                position: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
                map: map,
                title: '<%= j @spot.name %>',
                icon: iconUrl // 切り替えたアイコンを使用
            });
        };

        // ⭐️⭐️地図を表示
        displayMap(defaultMapOptions);

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap" data-turbo-track="reload"></script>