<div class="mt-6 mb-28">
    <div class="flex flex-col justify-center items-center">
        <%# タイトル %>
        <div class="mb-16">
            <h1 class="text-4xl font-bold mb-2 text-center"><%= t('.title') %></h1>
            <p class="text-lg text-center">- <%= t('.sub_title') %> -</p>
        </div>

        <%# トップ画像 %>
        <div class="w-5/6 mx-auto max-w-sm md:max-w-2xl mb-6">
            <div class="flex items-center justify-center mb-2">
                <h2 class="text-sm md:text-base text-center text-primary font-bold">
                    <%= t('.short_description') %>
                </h2>
                <%= image_tag 'question_mark.svg', class: "h-5 w-5 ml-2", onclick: "document.getElementById('spot_difference_modal').showModal();", style: 'cursor: pointer;' %>
            </div>
            <%= image_tag 'coworking.png', class: "max-w-full rounded-lg" %>
        </div>

        <%# 利用誘導ボタン %>
        <div class="flex space-x-10 mb-20">
            <%= link_to spots_map_path, data: { turbo: false }, class: "btn" do %>
                <%= image_tag 'location_search.svg', class: "h-4 w-4" %>
                <%= t('.to_spot_search') %>
            <% end %>
            <%= link_to new_user_path, data: { turbo: false }, class: "btn" do %>
                <%= image_tag 'new_register.svg', class: "h-4 w-4" %>
                <%= t('.to_new_register') %>
            <% end %>
        </div>

        <%# 未ログインでできることセクション %>
        <div class="w-5/6 mx-auto max-w-sm md:max-w-2xl mb-20">
            <div class="flex items-center justify-center mb-2">
                <h2 class="text-sm md:text-base text-center text-primary font-bold">
                    <%= t('.what_can_do_without_login.title') %>
                </h2>
                <%= image_tag 'infomation_mark.svg', class: "h-5 w-5 ml-2", onclick: "document.getElementById('spot_info_modal').showModal();", style: 'cursor: pointer;' %>
            </div>

            <div class="mt-2 carousel rounded-box">
                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_without_login.spot_search.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_without_login.spot_search.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/4164b0da4f85d187c34373b0cd1fc6a1"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/4164b0da4f85d187c34373b0cd1fc6a1.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_without_login.index_search.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_without_login.index_search.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/82b4f5844dc1459e2756a71022cde53e"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/82b4f5844dc1459e2756a71022cde53e.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_without_login.review_search.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_without_login.review_search.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/615afa46380fc2686519ea6912ab224e"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/615afa46380fc2686519ea6912ab224e.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_without_login.check_spot_details.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_without_login.check_spot_details.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/614dd7879841a9e5577b61c5ac425a2f"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/614dd7879841a9e5577b61c5ac425a2f.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%# ログイン後にできることセクション %>
        <div class="w-5/6 mx-auto max-w-sm md:max-w-2xl mb-16">
            <div class="flex items-center justify-center mb-2">
                <h2 class="text-sm md:text-base text-center text-primary font-bold">
                    <%= t('.what_can_do_with_login.title') %>
                </h2>
            </div>

            <div class="mt-2 carousel rounded-box">
                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_with_login.bookmark.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_with_login.bookmark.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/e1f9e33e553c15b7f72eb63de2d074b3"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/e1f9e33e553c15b7f72eb63de2d074b3.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_with_login.review.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_with_login.review.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/67b7613d3c0cc31ea93cb3c08b88df1a"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/67b7613d3c0cc31ea93cb3c08b88df1a.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item pr-4">
                    <div class="card bg-gray-100 w-full max-w-xs mx-auto">
                        <div class="card-body justify-center items-center">
                            <h3 class="text-base font-bold">
                                <%= t('.what_can_do_with_login.like.title') %>
                            </h3>
                            <p class="mt-4 mb-2 text-sm">
                                <%= t('.what_can_do_with_login.like.description_html').html_safe %>
                            </p>
                            <a href="https://gyazo.com/3dfe5741323094769521aa4255ac79a3"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/3dfe5741323094769521aa4255ac79a3.mp4" type="video/mp4"/></video></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex space-x-10 mb-10">
            <%= link_to spots_map_path, data: { turbo: false }, class: "btn" do %>
                <%= image_tag 'location_search.svg', class: "h-4 w-4" %>
                <%= t('.to_spot_search') %>
            <% end %>
            <%= link_to new_user_path, data: { turbo: false }, class: "btn" do %>
                <%= image_tag 'new_register.svg', class: "h-4 w-4" %>
                <%= t('.to_new_register') %>
            <% end %>
        </div>

    </div>
</div>

<%# 勉強種別に対する説明のダイアログ設定 %>
<dialog id="spot_difference_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-base font-bold text-primary text-center">
            <%= t('spot_difference_modal.title') %>
        </h3>
        <p class="text-sm py-4">
            <%= t('spot_difference_modal.description.title_html').html_safe %>
        </p>
        <div class="text-sm space-y-4">
            <hr class="my-4 border-gray-300">
            <div>
                <p class="font-semibold mb-2">
                    <%= t('spot_difference_modal.description.study_room.title') %>
                </p>
                <ul class="list-disc pl-5 space-y-1">
                    <%= t('spot_difference_modal.description.study_room.description_html').html_safe %>
                </ul>
            </div>
            <hr class="my-4 border-gray-300">
            <div>
                <p class="font-semibold mb-2">
                    <%= t('spot_difference_modal.description.co_working_space.title') %>
                </p>
                <ul class="list-disc pl-5 space-y-1">
                    <%= t('spot_difference_modal.description.co_working_space.description_html').html_safe %>
                </ul>
            </div>
        </div>
        <div class="modal-action">
            <%# 閉じるボタン %>
            <%= button_tag t('spot_difference_modal.close'), type: 'button', class: 'btn', onclick: "document.getElementById('spot_difference_modal').close();" %>
        </div>
    </div>
</dialog>

<%# 登録場所に関する情報のダイアログ設定 %>
<dialog id="spot_info_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-base font-bold text-primary text-center">
            <%= t('spot_info_modal.title') %>
        </h3>
        <p class="text-sm py-4">
            <%= t('spot_info_modal.description.title_html').html_safe %>
        </p>
        <hr class="my-4 border-gray-300">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2 text-sm">
            <%= t('spot_info_modal.description.prefectures_html').html_safe %>
        </div>
        <div class="modal-action">
            <%# 閉じるボタン %>
            <%= button_tag t('spot_info_modal.close'), type: 'button', class: 'btn', onclick: "document.getElementById('spot_info_modal').close();" %>
        </div>
    </div>
</dialog>