<% content_for(:title, t('.title')) %>

<div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
    <div class="mt-4">
        <%# 戻るボタン、タイトル（同じ高さに表示） %>
        <div class="flex items-center justify-center relative">
            <%# 戻るボタン %>
            <div class="absolute left-0 mt-2">
                <%= link_to profile_path, class: "btn btn-sm btn-circle text-xs" do %>
                    <%= image_tag 'page_back_mark.svg', class: "h-3 w-3" %>
                <% end %>
            </div>

            <%# タイトル %>
            <div class="text-sm font-bold">
                <%= t('.title') %>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col items-center">
    <%# ユーザー情報更新フォーム %>
    <div class="mt-14 mb-28">
        <%= form_with model: @user, url: profile_path, local: true do |f| %>

            <%# エラーメッセージ %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="mb-3">
                <div class="input input-bordered flex items-center gap-2">
                    <%= image_tag 'user_name.svg', class: "h-4 w-4 opacity-70" %>
                    <%= f.text_field :name, placeholder: t('.name') %>
                </div>
            </div>
            <div class="mb-3">
                <div class="input input-bordered flex items-center gap-2">
                    <%= image_tag 'email.svg', class: "h-4 w-4 opacity-70" %>
                    <%= f.email_field :email, placeholder: t('.email') %>
                </div>
            </div>

            <%# 区切り線 %>
            <hr>
            <div class="mt-1"></div>

            <div class="mb-3">
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="label-text text-xs"><%= t('.avatar') %></span>
                    </div>
                    <input type="file" class="file-input file-input-bordered w-full max-w-xs text-sm" />
                </label>
            </div>
            <div class="flex justify-center">
                <%= f.submit t('.update'), class: "btn" %>
            </div>
        <% end %>
    </div>
</div>