<% content_for(:title, t('.title')) %>

<div class="flex flex-col items-center justify-center min-h-screen">

    <%= render 'shared/title', title: t('.title') %>
    <div class="mb-10"></div>

    <%= form_with model: @user, data: { turbo: false } do |f| %>

        <%# エラーメッセージ %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'user_name.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.text_field :name, placeholder: t('.name'), class: "w-full" %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'email.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.email_field :email, placeholder: t('.email'), id: 'user_email', class: "w-full" %>
            </div>
            <%# gmailアカウントは受け付けず、Googleログインを促す %>
            <div id="email-warning" class="text-red-500 hidden text-xs">
                <%= t('.gmail_warning') %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'key_mark.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.password_field :password, placeholder: t('.password'), class: "w-full" %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'key_mark.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation'), class: "w-full" %>
            </div>
        </div>
        <div class="flex justify-center">
            <%= f.submit t('.submit'), class: "btn", id: 'submit_button' %>
        </div>
    <% end %>

    <div class='text-center my-6'>
        <%= link_to t('.to_login_page'), login_path, class: "btn btn-link text-xs" %>
        |
        <%= link_to t('.password_forget'), new_password_reset_path, class: "btn btn-link text-xs" %>
    </div>

    <%# 区切り線 %>
    <div class="divider w-[90%] mx-auto">OR</div>

    <%# Googleアカウントで新規登録 %>
    <div class="mt-6">
        <%= link_to auth_at_provider_path(provider: :google) do %>
            <%= image_tag 'google_sign_up.svg' %>
        <% end %>
    </div>

    <div class="mb-28"></div>

</div>

<script>
    // メールアドレスがGmailアドレスの場合、警告を表示
    // 'DOMContentLoaded'では無く、'turbo:load'を使用(DOMContentLoadedイベントは、ページが完全に再読み込みされたときのみ発火するため)
    document.addEventListener('turbo:load', function() {
        const emailInput = document.getElementById('user_email');
        const emailWarning = document.getElementById('email-warning');
        const submitButton = document.getElementById('submit_button');

        // 'user_email' が存在する場合のみ、イベントリスナーを追加
        if (emailInput) {
            emailInput.addEventListener('input', function() {
                // @gmail.comが含まれている場合に警告を表示し、更新ボタンを非表示にする
                if (emailInput.value.includes('@gmail.com')) {
                    emailWarning.classList.remove('hidden');
                    submitButton.classList.add('hidden');  // 更新ボタンを非表示
                } else {
                    emailWarning.classList.add('hidden');
                    submitButton.classList.remove('hidden');  // 更新ボタンを表示
                }
            });
        }
    });
</script>
