<% content_for(:title, t('.title')) %>

<div class="flex flex-col items-center justify-center min-h-screen">

    <%= render 'shared/title', title: t('.title') %>
    <div class="mb-10"></div>

    <%= form_with model: @user do |f| %>

        <%# エラーメッセージ %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'user_name.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.text_field :name, placeholder: t('.name') %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'email.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.email_field :email, placeholder: t('.email') %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'key_mark.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.password_field :password, placeholder: t('.password') %>
            </div>
        </div>
        <div class="mb-3">
            <div class="input input-bordered flex items-center gap-2">
                <%= image_tag 'key_mark.svg', class: "h-4 w-4 opacity-70" %>
                <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation') %>
            </div>
        </div>
        <div class="flex justify-center">
            <%= f.submit t('.submit'), class: "btn" %>
        </div>
    <% end %>

    <div class='text-center my-6'>
        <%= link_to t('.to_login_page'), login_path, class: "btn btn-link" %>
        |
        <%= link_to t('.password_forget'), '#', class: "btn btn-link" %>
    </div>

    <div class="mb-28"></div>

</div>


