<div class="navbar bg-gray-100 sticky top-0 left-0 w-full z-50">
    <div class="flex-1">
        <%# ロゴ説明モーダル %>
        <%= image_tag 'LearnLocator_logo.png', class: "h-10 ml-2 mr-2 rounded-full border-4 border-gray-300 hover:border-primary", onclick: "document.getElementById('logo_modal').showModal();", style: 'cursor: pointer;' %>
        <%= link_to t('header.title'), root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
        <div class="drawer drawer-end">
            <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <label for="my-drawer-4" class="drawer-button btn btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
            </div>
            <div class="drawer-side">
                <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 bg-opacity-95 text-base-content min-h-full w-80 p-4">

                    <%# 未ログインユーザー向け %>
                    <li>
                        <%= link_to login_path, class: "text-base hover:text-secondary" do %>
                            <%= image_tag 'login.svg', class: 'h-4 w-4 mr-2' %>
                            <%= t('header.login') %>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_path, class: "text-base hover:text-secondary" do %>
                            <%= image_tag 'new_register.svg', class: 'h-4 w-4 mr-2' %>
                            <%= t('header.new_register') %>
                        <% end %>
                    </li>

                    <%# 以降共通のリンクリスト %>
                    <%= render 'shared/header_link_list' %>
                </ul>
            </div>
        </div>
    </div>
</div>

<%# ロゴ説明のダイアログ設定 %>
<dialog id="logo_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-base font-bold text-primary text-center">
            <%= t('logo_modal.title') %>
        </h3>
        <div class="flex justify-center pt-2">
            <%= image_tag 'LearnLocator_logo.png', class: "h-16 rounded-full" %>
        </div>
        <%# ここはdaisyUIを部分的に当てるため、i18n対応はしない %>
        <div class="text-sm">
            <p class="pt-4">
                このロゴは、羽根ペンで筆を走らせるようなイメージと、LearnLocatorの「 L 」を組み合わせたデザインにしています。
            </p>
            <p class="pt-4">
                また、サービス全体で「 白 」を基調としたデザインを採用しており、真っ白な紙に文字を書いていくような " 勉強 " のイメージを表現しています。
            </p>
            <p class="pt-4">
                一方で、サービスを利用していただくと " <span class="text-red-500">赤</span>・<span class="text-blue-500">青</span>・<span class="text-yellow-500">黄</span>・<span class="text-green-500">緑</span> " の4色が画面上に登場します。
            </p>
            <p class="pt-4">
                以上から、本サービスがあなたの " 勉強 " をサポートし、 " 彩り豊かな未来 " に羽ばたくきっかけとなって欲しいという思いを込めました。
            </p>
        </div>
        <div class="modal-action">
            <%# 閉じるボタン %>
            <%= button_tag t('logo_modal.close'), type: 'button', class: 'btn', onclick: "document.getElementById('logo_modal').close();" %>
        </div>
    </div>
</dialog>