<div class="btm-nav bg-gray-100">

    <%= link_to spots_map_path, class: "hover:bg-gray-300" do %>
        <%= image_tag 'location_search.svg', class: "h-4 w-4" %>
        <span class="text-[0.5rem] btm-nav-label">場所検索</span>
    <% end %>

    <%= link_to root_path, class: "hover:bg-gray-300" do %>
        <%= image_tag 'list_search.svg', class: "h-4 w-4" %>
        <span class="text-[0.5rem] btm-nav-label">一覧検索</span>
    <% end %>

    <%= link_to root_path, class: "hover:bg-gray-300" do %>
        <%= image_tag 'diagnosis.svg', class: "h-4 w-4" %>
        <span class="text-[0.5rem] btm-nav-label">診断</span>
    <% end %>

    <%= link_to root_path, class: "hover:bg-gray-300" do %>
        <%= image_tag 'bookmark.svg', class: "h-4 w-4" %>
        <span class="text-[0.5rem] btm-nav-label">ブックマーク</span>
    <% end %>

    <%= link_to root_path, class: "hover:bg-gray-300" do %>
        <%= image_tag 'mypage.svg', class: "h-4 w-4" %>
        <span class="text-[0.5rem] btm-nav-label">マイページ</span>
    <% end %>

</div>