<div class="divider"></div>

<li>
    <%= link_to spots_map_path, data: { turbo: false }, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'location_search.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.spot_search') %>
    <% end %>
</li>
<li>
    <%= link_to spots_path, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'list_search.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.index_search') %>
    <% end %>
</li>
<li>
    <%= link_to reviews_path, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'review_search.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.review_search') %>
    <% end %>
</li>
<li>
    <%= link_to bookmarks_spots_path, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'bookmark_search.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.bookmarks') %>
    <% end %>
</li>

<div class="divider"></div>

<li>
    <%= link_to root_path, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'terms_of_use.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.terms_of_use') %>
    <% end %>
</li>
<li>
    <%= link_to root_path, class: "text-base hover:text-secondary" do %>
        <%= image_tag 'privacy_policy.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.privacy_policy') %>
    <% end %>
</li>
<li>
    <%= link_to "https://forms.gle/bo4KiVDo8nYDwM4Y7", target: "_blank", rel: "noopener noreferrer", class: "text-base hover:text-secondary" do %>
        <%= image_tag 'contact.svg', class: 'h-4 w-4 mr-2' %>
        <%= t('header.contact') %>
    <% end %>
</li>

<div class="divider"></div>

<%# コピーライト %>
<div class="text-sm text-center m-3"><%= t('header.copy_right') %></div>

<div class="flex justify-center items-center my-3">
    <%# GitHubリンク %>
    <%= link_to "https://github.com/Yuki11saitou/LearnLocator?tab=readme-ov-file", target: "_blank", rel: "noopener noreferrer" , class: "mr-3" do %>
        <%= image_tag 'github_mark.svg', class: "h-6" %>
    <% end %>
    <%# Xリンク %>
    <%= link_to "https://x.com/tripletsuper11", target: "_blank", rel: "noopener noreferrer", class: "ml-3" do %>
        <%= image_tag 'x_mark.svg', class: "h-6" %>
    <% end %>
</div>

<%# QRコード %>
<div class="text-sm text-center mt-6">
    <span class="skeleton inline-block px-2"><%= t('header.qr_description') %></span>
</div>
<div class="flex flex-col items-center mb-3">
    <%= image_tag 'qr_for_learnlocator.svg', class: "h-32" %>
</div>