<% content_for(:title, t('.title', name: @spot.name)) %>

<div class="mt-4 mb-24">
    <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
        <%# 戻るボタン %>
        <%= link_to spot_path(@spot), class: "btn btn-sm text-xs" do %>
            <%= image_tag 'page_back_mark.svg', class: "h-3 w-3" %>
            <%= t('.back') %>
        <% end %>
        <%# 口コミ投稿フォーム %>
        <div class="mt-6">
            <label class="form-control">
                <div id="review-form">
                    <%= form_with model: @review, url: spot_reviews_path(@spot) do |f| %>

                        <%# エラーメッセージ %>
                        <%= render 'shared/error_messages', object: f.object %>

                        <%# ラベルとして、施設名を表示 %>
                        <%= f.label @spot.name, class: "text-sm" %>

                        <%# テキストエリア %>
                        <div class="mt-1">
                            <div class="card shadow-xl">
                                <%= f.text_area :body, class: "textarea textarea-bordered h-48", placeholder: t('.placeholder'), id: 'review_body' %>
                            </div>
                        </div>

                        <%# 文字数カウントを表示するエリア %>
                        <div class="text-gray-500 text-sm text-right mt-1">
                            <span id="char-count">0</span>/300
                        </div>

                        <%# 送信ボタン %>
                        <div class="flex flex-col justify-center items-center">
                            <div class="mt-6">
                                <%= f.submit t('.submit'), class: "btn btn-outline btn-primary" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </label>
        </div>
    </div>
</div>

<script>
    // 文字数カウント
    // "turbo:load"：ページが完全に読み込まれた後や、部分的に更新された後にもJavaScriptを確実に動作させるために必要
    document.addEventListener("turbo:load", function() {
    const textArea = document.getElementById('review_body');
    const charCount = document.getElementById('char-count');
    const maxChars = 300;

    if (textArea) {
        textArea.addEventListener('input', function() {
        const currentLength = textArea.value.length;

        // id="char-count"内のテキストを書き換える
        charCount.textContent = currentLength;

        // 色を変える例（オプション）：300文字を超えると赤色になる
        if (currentLength > maxChars) {
            charCount.style.color = 'red';
        } else {
            charCount.style.color = 'black';
        }
        });
    }
    });
</script>