<% content_for(:title, t('.title', name: @spot.name)) %>

<div class="mt-4 mb-28">
    <div class="w-5/6 mx-auto max-w-sm md:max-w-4xl">
        <%# 戻るボタン %>
        <%= link_to spot_path(@spot), class: "btn btn-sm btn-circle text-xs" do %>
            <%= image_tag 'page_back_mark.svg', class: "h-3 w-3" %>
        <% end %>

        <div class="mt-6"></div>

        <%# 口コミ表示(app/views/reviews/_review.html.erbを利用) %>
        <%= render partial: 'reviews/review', locals: { review: @review, show_spot_name: true, x_share_mark: false, delete_mark: false } %>

        <div class="mt-6"></div>

        <%# Xシェアボタン %>
        <div class="flex flex-col justify-center items-center">
            <% if logged_in? %>
                <% if current_user.own?(@review) %>
                    <div class="twitter">
                        <%= link_to "https://twitter.com/intent/tweet?url=#{review_url(@review)}&text=#{ERB::Util.url_encode("【LearnLocator - 勉強場所検索サービス -】\n\n「#{@spot.name}」への口コミを投稿しました！\n\n\n#LearnLocator #勉強場所探し\n\n")}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア", class: "btn" do %>
                            <p><%= t('.x_share') %></p>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>

    </div>
</div>
