<!DOCTYPE html>
<html data-theme=cmyk>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# ページタイトルを読み込む %>
    <title><%= page_title(yield(:title)) %></title>

    <%# Googleアナリティクス導入 %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>

    <%# flowbite（およびその機能を利用するためのPopper.js）ライブラリの読み込み %>
    <%= javascript_include_tag "https://unpkg.com/@popperjs/core@2", type: "module", defer: true %>
    <%= javascript_include_tag "https://unpkg.com/flowbite@1.4.7/dist/flowbite.js", type: "module", defer: true %>
  </head>

  <body>
    <div class="font-body-jp">
      <%# フラッシュメッセージ %>
      <%= render 'layouts/flash_messages' %>

      <%# ヘッダー（ログイン有無で出しわけ） %>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>

      <%= yield %>

      <%# フッター %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
