<!DOCTYPE html>
<html data-theme=cmyk>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# ページタイトルを読み込む %>
    <title><%= page_title(yield(:title)) %></title>

    <%# googleフォント読み込み %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans&display=swap');
    </style>

    <%# Googleアナリティクス導入 %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%# PWA化のために使用 %>
    <link rel="manifest" href="/manifest.json">

    <%# ファビコン導入 %>
    <%= favicon_link_tag image_path('favicon.png'), type: 'image/png' %>

    <%# XのOGP表示 %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@tripletsuper11" />
    <meta name="twitter:domain" content="learn-locator.com" />
    <meta name="twitter:title" content="LearnLocator" />
    <meta name="twitter:description" content="勉強場所(自習室・コワーキングスペース)を見つけるアプリ" />
    <meta name="twitter:image" content="<%= asset_url('ogp.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>

    <%# flowbite（およびその機能を利用するためのPopper.js）ライブラリの読み込み %>
    <%= javascript_include_tag "https://unpkg.com/@popperjs/core@2", type: "module", defer: true %>
    <%= javascript_include_tag "https://unpkg.com/flowbite@1.4.7/dist/flowbite.js", type: "module", defer: true %>
  </head>

  <body>
    <div class="font-body-jp">

      <%# ヘッダー（ログイン有無で出しわけ） %>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
      <%# フラッシュメッセージ %>
      <%= render 'layouts/flash_messages' %>

      <%# 中身 %>
      <%= yield %>

      <%# フッター %>
      <%= render 'shared/footer' %>
    </div>
  </body>

  <%# PWA化のために使用 %>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</html>
